.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--bg-color);
  width: 100%;
}

.current-day {
  background-color: var(--primary-color);
  width: 100%;
  padding: 10px 10px 20px 10px;
  /* Add some bottom padding */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--header-text-color);
}

.header {
  font-size: 22px;
  text-align: center;
  margin: 10px;
  font-weight: normal;
}

.header-detail {
  font-size: 16px;
  text-align: center;
  margin: 3px;
}

.history-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.start-time {
  text-align: center;
  color: var(--text-color);
  margin: 5px;
  font-size: 16px;
}