:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-color: #141414;
  --header-text-color: #e3e3e3;
  --text-color: #e3e3e3;
  --primary-color: #1e2020;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  overscroll-behavior: none;
  /* Prevent rubber banding on mobile */
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}